<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.dgit.RentCar_Project.dao.CarModelDao">
	
	<resultMap id="CarModelResult" type="CarModel" >
		<id property="carModelCode" column="car_model_code"/>
		<result property="carModel" column="car_model"/>
	</resultMap>
	
	<sql id="selectSql">
		select car_model_code, car_model from car_model
	</sql>
	
	<sql id="whereAllSql">
		<where>
			<if test="carModelCode != null">
				car_model_code = #{carModelCode}
			</if>
			<if test="carModel != null">
				and car_model = #{carModel}
			</if>
		</where>
	</sql>
		
	<sql id="wherePrimarySql">
		<where>
			<if test ="carModelCode != null">
				car_model_code = #{carModelCode}
			</if>
		</where>
	</sql>
	
	<sql id="insertSql">
		insert into car_model 
		values(#{carModelCode}, #{carModel})
	</sql>
	
	<sql id="updateSql">
		update car_model
	</sql>
	
	<sql id="deleteSql">
		delete from car_model
	</sql>
	
	<select id="selectCarModelByCarModelCode" resultMap="CarModelResult">
		<include refid="selectSql"/>
		<include refid="wherePrimarySql"/>
	</select>
	
	<select id="selectCarModelByAll" resultMap="CarModelResult">
		<include refid="selectSql"/>
	</select>
	
	<select id="findCarModelByCarModelCode" resultMap="CarModelResult">
		<include refid="selectSql"/>
		<include refid="wherePrimarySql"/>
	</select>
	<insert id="insertCarModel" parameterType="CarModel">
		<include refid="insertSql"/>
	</insert>
	
	<update id="updateCarModel" parameterType="CarModel">
		<include refid="updateSql"/>
			<set>
				<if test="carModelCode != null">
					car_model_code = #{carModelCode},
				</if>
				<if test="carModel != null">
					car_model = #{carModel},
				</if>
			</set>
		<include refid="wherePrimarySql"/>
	</update>
	
	<delete id="deleteCarModel" parameterType="CarModel">
		<include refid="deleteSql"/>
		<include refid="wherePrimarySql"/>
	</delete>
</mapper>