<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.dgit.RentCar_Project.dao.FuelDao">
	
	<resultMap type="Fuel" id="FuelResult">
		<id property="fuelCode" column="fuel_code"/>
		<result property = "fuelType" column="fuel_type"/>
	</resultMap>
	
	<sql id="selectSql">
		select fuel_code, fuel_type from fuel
	</sql>
	
	<sql id="whereAllSql">
		<where>
			<if test="fuelCode != null">
				fuel_code = #{fuelCode}
			</if>
			<if test="fuelType != null">
				and fuel_type = #{fuelType}
			</if>
		</where>
	</sql>
	
	
	<sql id="wherePrimarySql">
		<where>
			<if test ="fuelCode != null">
				fuel_code = #{fuelCode}
			</if>
		</where>
	</sql>
	
	<sql id="insertSql">

		insert into fuel(fuel_code, fuel_type) 
		values(#{fuelCode}, #{fuelType})

	</sql>
	
	<sql id="updateSql">
		update fuel
	</sql>
	
	<sql id="deleteSql">
		delete from fuel
	</sql>
	
	<select id="selectFuelByFuelCode" resultMap="FuelResult">
		<include refid="selectSql"/>
		<include refid="wherePrimarySql"/>
	</select>
	
	<select id="selectFuelByAll" resultMap="FuelResult">
		<include refid="selectSql"/>
	</select>
	
	<select id="FindFuelByFuelCode" resultMap="FuelResult">
		<include refid="selectSql"/>
		<include refid="wherePrimarySql"/>	
	</select>
	
	<insert id="insertFuel" parameterType="Fuel">
		<include refid="insertSql"/>
	</insert>
	
	<update id="updateFuel" parameterType="Fuel">
		<include refid="updateSql"/>
			<set>
				<if test="fuelCode != null">
					fuel_code = #{fuelCode},
				</if>
				<if test="fuelType != null">
					fuel_type = #{fuelType}
				</if>
			</set>
		<include refid="wherePrimarySql"/>	
	</update>
	
	<delete id="deleteFule" parameterType="Fuel">
		<include refid="deleteSql"/>
		<include refid="wherePrimarySql"/>
	</delete>
	
</mapper>