<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.dgit.RentCar_Project.dao.ManufacturerDao">
	
	<resultMap id="ManufacturerResult" type="Manufacturer" >
		<id property="manufacturerCode" column="manufacturer_code"/>
		<result property="manufacturerName" column="manufacturer_name"/>
	</resultMap>
	
	<sql id="selectSql">
		select manufacturer_code, manufacturer_name from manufacturer
	</sql>
	
	<sql id="whereAllSql">
		<where>
			<if test="manufacturerCode != null">
				manufacturer_code = #{manufacturerCode}
			</if>
			<if test="manufacturerName != null">
				and manufacturer_name = #{manufacturerName}
			</if>
		</where>
	</sql>
	
	<sql id="wherePrimarySql">
		<where>
			<if test ="manufacturerCode != null">
				manufacturer_code = #{manufacturerCode}
			</if>
		</where>
	</sql>
	
	<sql id="insertSql">
		insert into manufacturer 
		values(#{manufacturerCode}, #{manufacturerName})
	</sql>
	
	<sql id="updateSql">
		update manufacturer 
	</sql>
	
	<sql id="deleteSql">
		delete from manufacturer
	</sql>
	
	<select id="selectManufacturerByManufacturerCode" resultMap="ManufacturerResult">
		<include refid="selectSql"/>
		<include refid="wherePrimarySql"/>
	</select>
	
	<select id="selectManufacturerByAll" resultMap="ManufacturerResult">
		<include refid="selectSql"/>
	</select>
	
	<select id="findManufacturerByFacturerCode" resultMap="ManufacturerResult">
		<include refid="selectSql"/>
		<include refid="wherePrimarySql"/>
	</select>
	
	<insert id="insertManufacturer" parameterType="Manufacturer">
		<include refid="insertSql"/>
	</insert>
	
	<update id="updateManufacturer" parameterType="Manufacturer">
		<include refid="updateSql"/>
			<set>
				<if test="manufacturerCode != null">
					manufacturer_code = #{manufacturerCode},
				</if>
				<if test="manufacturerName != null">
					manufacturer_name = #{manufacturerName},
				</if>
			</set>
		<include refid="wherePrimarySql"/>
	</update>
	
	<delete id="deleteManufacturer" parameterType="Manufacturer">
		<include refid="deleteSql"/>
		<include refid="wherePrimarySql"/>
	</delete>
</mapper>