<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.dgit.RentCar_Project.dao.RentalPriceDao">
	
	<resultMap type="RentalPrice" id="RentalPriceResult">
		<id property="carCode.carCode" column="car_code"/>
		<result property="basicPrice" column="basic_price"/>
		<result property="basicTime" column="basic_time"/>
		<result property="basicTimePrice" column="basic_time_price"/>
		<result property="overPrice" column="over_price"/>
		<result property="insurance" column="insurance"/>
	</resultMap>
	
	<sql id="whereAllSql">
		<where>
			<if test="carCode.carCode != null">
				car_code = #{carCode.carCode}
			</if>
			<if test="basicPrice != null">
				and basic_price = #{basicPrice}
			</if>
			<if test="basicTime != null">
				and basic_time = #{basicTime}
			</if>
			<if test="basicTimePrice != null">
				and basic_time_price = #{basicTimePrice}
			</if>
			<if test="overPrice != null">
				and over_price = #{overPrice}
			</if>
			<if test="insurance != null">
				and insurance = #{insurance}
			</if>
		</where>
	</sql>
	
	
	<sql id="wherePrimarySql">
		<where>
			<if test="carCode.carCode !=null">
				car_code = #{carCode.carCode}
			</if>
		</where>
	</sql>
	
	<sql id="selectSql">
		select car_code, basic_price, basic_time, basic_time_price, 
		over_price, insurance from rental_price
	</sql>
	
	<sql id="insertSql">
		insert into rental_price(car_code, basic_price, basic_time, basic_time_price, over_price, insurance)
		values(#{carCode.carCode}, #{basicPrice}, #{basicTime}, #{basicTimePrice}, #{overPrice}, #{insurance})
	</sql>
	
	<sql id="updateSql">
		update rental_price 
	</sql>
	
	<sql id="deleteSql">
		delete from rental_price
	</sql>
	
	<select id="selectRentalPriceByCarCode" resultMap="RentalPriceResult">
		<include refid="selectSql"/>
		<include refid="wherePrimarySql"/>
	</select>
	
	<select id="selectRentalPriceByAll" resultMap="RentalPriceResult">
		<include refid="selectSql"/>
	</select>
	
	<insert id="insertRentalPrice" parameterType="RentalPrice">
		<include refid="insertSql"></include>
	</insert>
	
	<update id="updateRentalPrice" parameterType="RentalPrice">
		<include refid="updateSql"/>
			<set>
				<if test="carCode.carCode != null">
					car_code = #{carCode.carCode},
				</if>
				<if test="basicPrice != null">
					 basic_price = #{basicPrice},
				</if>
				<if test="basicTime != null">
					 basic_time = #{basicTime},
				</if>
				<if test="basicTimePrice != null">
					 basic_time_price = #{basicTimePrice},
				</if>
				<if test="overPrice != null">
					 over_price = #{overPrice},
				</if>
				<if test="insurance != null">
					 insurance = #{insurance},
				</if>
			</set>
		<include refid="wherePrimarySql"/>
	</update>
	
	<delete id="deleteRentalPrice" parameterType="RentalPrice">
		<include refid="deleteSql"/>
		<include refid="wherePrimarySql"/>
	</delete>
</mapper>