<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.dgit.RentCar_Project.dao.RentDao">
	
	<resultMap type="Rent" id="RentResult">
		<result property="situation" column="situation"/>
		<result property="userCode.userCode" column="user_code"/>
		<result property="userTime" column="use_time"/>
		<result property="isInsurance" column="is_insurance"/>
		<result property="dayStart" column="day_start"/>
		<result property="dayEnd" column="day_end"/>
		<result property="discountPrice" column="discount_Price"/>
		<result property="finalPrice" column="final_price"/>
		<result property="carCode.carCode" column="car_code"/>
	</resultMap>
	
	<resultMap type="Rent" id="RentJoinCarDataResult">
		<result property="rentCode" column="rent_code"/>
		<result property="situation" column="situation"/>
		<result property="userTime" column="use_time"/>
		<result property="isInsurance" column="is_insurance"/>
		<result property="dayStart" column="day_start"/>
		<result property="dayEnd" column="day_end"/>
		<result property="discountPrice" column="discount_Price"/>
		<result property="finalPrice" column="final_price"/>
		<association property="carCode" resultMap="kr.or.dgit.RentCar_Project.dao.CarDataDao.RentJoinCarData"/>
	</resultMap>
	
	<resultMap type="Rent" id="JoinCarDataAndCarModelAndManufacturer">
		<result property="rentCode" column="rent_code"/>
		<result property="userTime" column="sum(use_time)"/>
		<result property="discountPrice" column="sum(discount_price)"/>
		<result property="finalPrice" column="sum(final_price)"/>
		<association property="carCode" resultMap="kr.or.dgit.RentCar_Project.dao.CarDataDao.CarDataJoinCarModelAndManufacturer"/>
	</resultMap>
	
	<sql id="whereAllSql">
		<where>
			<if test="situation != null">
				user_code = #{userCode.userCode}
			</if>			
			<if test="userCode.userCode != null">
				user_code = #{userCode.userCode}
			</if>
			<if test="userTime != null">
				and use_time = #{userTime}
			</if>
			<if test="isInsurance != null">
				and is_insurance = #{isInsurance}
			</if>
			<if test="dayStart != null">
				and day_start = #{dayStart}
			</if>
			<if test="dayEnd != null">
				and day_end = #{dayEnd}
			</if>
			<if test="finalPrice != null">
				and final_price = #{finalPrice}
			</if>
			<if test="carCode.carCode != null">
				and car_code = #{carCode.carCode}
			</if>
		</where>
	</sql>
	
	<sql id="wherePrimarySql">
		<where>
			<if test="userCode.userCode != null">
				user_code = #{userCode.userCode}
			</if>
		</where>
	</sql>
	
	<sql id="selectSql">
		select situation, user_code, use_time, is_insurance, day_start, day_end, discount_Price, final_price, car_code from rent
	</sql>
	<sql id="insertSql">
		insert into rent(situation, user_code, use_time, is_insurance, day_start, day_end, discount_Price, final_price, car_code)
		values(#{situation}, #{userCode.userCode}, #{userTime}, #{isInsurance}, #{dayStart}, #{dayEnd}, #{discountPrice}, #{finalPrice}, #{carCode.carCode})
	</sql>
	<sql id="updateSql">
		update rent	set situation = #{situation}, user_code= #{userCode.userCode}, use_time= #{userTime}, is_insurance= #{isInsurance}, 
		day_start= #{dayStart}, day_end= #{dayEnd}, discount_Price= #{discountPrice}, final_price= #{finalPrice}, car_code = #{carCode.carCode}
	</sql>
	<sql id="deleteSql">
		delete from rent	
	</sql>
	
	<select id="selectRentByUserCode" resultMap="RentResult">
		<include refid="selectSql"/>
		<include refid="wherePrimarySql"/>
	</select>
	
	<select id="selectRentByAll" resultMap="RentResult">
		<include refid="selectSql"></include>
	</select>
	
	<insert id="insertRent" parameterType="Rent">
		<include refid="insertSql"></include>
	</insert>
	
	<update id="updateRent">
		<include refid="updateSql"/>
		<include refid="wherePrimarySql"/>
	</update>
	
	<delete id="deleteRent">
		<include refid="deleteSql"/>
		<include refid="wherePrimarySql"/>
	</delete>
	
	<select id="selectRentJoinCarData" parameterType="Rent" resultMap="RentJoinCarDataResult">
		select rent_code, situation, car_data.car_code, car_name, car_old, is_auto, car_seater, fuel_code, use_time, 
		is_insurance, day_start, day_end, discount_Price, final_price from rent join car_data on rent.car_code = car_data.car_code
		where user_code = #{userCode.userCode} and day_start &gt;= #{dayStart} and day_end &lt;= #{dayEnd} order by day_start
	</select>
	
	<delete id="UserHistoryDelete">
		<include refid="deleteSql"/>
		where use_time = #{userTime} and final_price = #{finalPrice} and car_code = #{carCode.carCode}
	</delete>
	
	<update id="UserHistoryUpdate">
		<include refid="updateSql"/>
		where rent_code = #{rentCode} 
	</update>
	
	<select id="selectPerformenceTotal" resultMap="JoinCarDataAndCarModelAndManufacturer">
		select rent_code, car_model, manufacturer_name, car_name, sum(use_time), sum(discount_price), 
		sum(final_price) from car_data join manufacturer on car_data.manufacturer_code = manufacturer.manufacturer_code
		join car_model on car_data.car_model_code = car_model.car_model_code join rent on car_data.car_code = rent.car_code group by car_model
		union select rent_code, '합계', '-', '-', sum(use_time), sum(discount_price), sum(final_price) from rent
	</select>
	
	<select id="selectPerformenceMonth" resultMap="JoinCarDataAndCarModelAndManufacturer">
		select rent_code, car_model, manufacturer_name, car_name, sum(use_time), sum(discount_price), sum(final_price) from car_data join manufacturer 
		on car_data.manufacturer_code = manufacturer.manufacturer_code join car_model on car_data.car_model_code = car_model.car_model_code 
		join rent on car_data.car_code = rent.car_code where day_start &gt;= #{param1} and day_end &lt;= #{param2} group by car_model 
		union select 0, '합계', '-', '-', sum(use_time), sum(discount_price), sum(final_price) from rent
		where day_start &gt;= #{param1} and day_end &lt;= #{param2}
	</select>
	
	<select id="selectPerformenceGender" resultMap="JoinCarDataAndCarModelAndManufacturer">
		select rent_code, car_model, manufacturer_name, car_name, sum(use_time), sum(discount_price), sum(final_price) from car_data  
		join manufacturer on car_data.manufacturer_code = manufacturer.manufacturer_code
		join car_model on car_data.car_model_code = car_model.car_model_code
		join rent on car_data.car_code = rent.car_code 
		join user on user.user_code = rent.user_code where gender = #{param1} group by car_model
		union select 0,'합계', '-', '-', sum(use_time), sum(discount_price), sum(final_price)
		from rent join user on rent.user_code = user.user_code where gender = #{param1}
	</select>
	
	<select id="selectPerformenceCarModel" resultMap="JoinCarDataAndCarModelAndManufacturer">
		select rent_code, car_model, manufacturer_name, car_name, sum(use_time), sum(discount_price), 
		sum(final_price) from car_data 
		join manufacturer on car_data.manufacturer_code = manufacturer.manufacturer_code
		join car_model on car_data.car_model_code = car_model.car_model_code 
		join rent on car_data.car_code = rent.car_code where car_model = #{param1} group by car_name
		union select 0, '합계', '-', '-', sum(use_time), sum(discount_price), sum(final_price) 
		from car_data join rent on rent.car_code = car_data.car_code 
		join car_model on car_data.car_model_code = car_model.car_model_code where car_model = #{param1}
	</select>
	
	<select id="selectPerformenceManufacturer" resultMap="JoinCarDataAndCarModelAndManufacturer">
		select rent_code, car_model, manufacturer_name, car_name, sum(use_time), sum(discount_price), 
		sum(final_price) from car_data 
		join manufacturer on car_data.manufacturer_code = manufacturer.manufacturer_code
		join car_model on car_data.car_model_code = car_model.car_model_code 
		join rent on car_data.car_code = rent.car_code where manufacturer_name = #{param1} group by car_name
		union select 0, '합계', '-', '-', sum(use_time), sum(discount_price), sum(final_price) 
		from car_data join rent on rent.car_code = car_data.car_code 
		join manufacturer on car_data.manufacturer_code = manufacturer.manufacturer_code where manufacturer_name = #{param1}
	</select>
</mapper>