<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.dgit.RentCar_Project.dao.RentDao">
	
	<resultMap type="Rent" id="RentResult">
		<result property="userCode.userCode" column="user_code"/>
		<result property="userTime" column="use_time"/>
		<result property="isInsurance" column="is_insurance"/>
		<result property="dayStart" column="day_start"/>
		<result property="dayEnd" column="day_end"/>
		<result property="finalPrice" column="final_price"/>
		<result property="carCode.carCode" column="car_code"/>
	</resultMap>
	
	<resultMap type="Rent" id="RentJoinCarDataResult">
		<result property="userTime" column="use_time"/>
		<result property="isInsurance" column="is_insurance"/>
		<result property="dayStart" column="day_start"/>
		<result property="dayEnd" column="day_end"/>
		<result property="finalPrice" column="final_price"/>
		<association property="carCode" resultMap="kr.or.dgit.RentCar_Project.dao.CarDataDao.RentJoinCarData"/>
	</resultMap>
	
	<sql id="whereAllSql">
		<where>
			<if test="userCode.userCode != null">
				user_code = #{userCode.userCode}
			</if>
			<if test="userTime != null">
				and use_time = #{userTime}
			</if>
			<if test="isInsurance != null">
				and is_insurance = #{isInsurance}
			</if>
			<if test="dayStart != null">
				and day_start = #{dayStart}
			</if>
			<if test="dayEnd != null">
				and day_end = #{dayEnd}
			</if>
			<if test="finalPrice != null">
				and final_price = #{finalPrice}
			</if>
			<if test="carCode.carCode != null">
				and car_code = #{carCode.carCode}
			</if>
		</where>
	</sql>
	
	<sql id="wherePrimarySql">
		<where>
			<if test="userCode.userCode != null">
				user_code = #{userCode.userCode}
			</if>
		</where>
	</sql>
	
	<sql id="selectSql">
		select user_code, use_time, is_insurance, day_start, day_end, final_price, car_code from rent
	</sql>
	<sql id="insertSql">
		insert into rent(user_code, use_time, is_insurance, day_start, day_end, final_price, car_code)
		values(#{userCode.userCode}, #{userTime}, #{isInsurance}, #{dayStart}, #{dayEnd}, #{finalPrice}, #{carCode.carCode})
	</sql>
	<sql id="updateSql">
		update rent	set user_code=#{userCode.userCode}, use_time=#{userTime}, is_insurance=#{isInsurance}, 
		day_start=#{dayStart}, day_end=#{dayEnd}, final_price=#{finalPrice}, car_code = #{carCode.carCode}
	</sql>
	<sql id="deleteSql">
		delete from rent	
	</sql>
	
	<select id="selectRentByUserCode" resultMap="RentResult">
		<include refid="selectSql"/>
		<include refid="wherePrimarySql"/>
	</select>
	
	<select id="selectRentByAll" resultMap="RentResult">
		<include refid="selectSql"></include>
	</select>
	
	<insert id="insertRent" parameterType="Rent">
		<include refid="insertSql"></include>
	</insert>
	
	<update id="updateRent">
		<include refid="updateSql"/>
		<include refid="wherePrimarySql"/>
	</update>
	
	<delete id="deleteRent">
		<include refid="deleteSql"/>
		<include refid="wherePrimarySql"/>
	</delete>
	
	<select id="selectRentJoinCarData" parameterType="Rent" resultMap="RentJoinCarDataResult">
		select car_data.car_code, car_name, car_old, is_auto, car_seater, fuel_code, use_time, 
		is_insurance, day_start, day_end, final_price from rent join car_data on rent.car_code = car_data.car_code
		where user_code = #{userCode.userCode} and day_start &gt;= #{dayStart} and day_end &lt;= #{dayEnd}
	</select>
	
	<delete id="UserHistoryDelete">
		<include refid="deleteSql"/>
		where use_time = #{userTime} and final_price = #{finalPrice} and car_code = #{carCode.carCode}
	</delete>
</mapper>