<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.dgit.RentCar_Project.dao.RentalPriceDao">
	<resultMap type="RentalPrice" id="RentalPriceResult">
		<id property="carCode.carCode" column="car_code"/>
		<result property="basicPrice" column="basic_price"/>
		<result property="basicTime" column="basic_time"/>
		<result property="basicTimePrice" column="basic_time_price"/>
		<result property="overPrice" column="over_price"/>
		<result property="insurance" column="insurance"/>
	</resultMap>
	
	<sql id="whereSql">
		<where>
			<if test="carCode.carCode !=null">
				car_code = #{carCode.carCode}
			</if>
		</where>
	</sql>
	
	<sql id="selectSql">
		select car_code, basic_price, basic_time, basic_time_price, over_price, insurance
		from rental_price
	</sql>
	
	<sql id="insertSql">
		insert into rental_price(car_code, basic_price, basic_time, basic_time_price, over_price, insurance)
		values(#{carCode.carCode}, #{basicPrice}, #{basicTime}, #{basicTimePrice}, #{overPrice}, #{insurance})
	</sql>
	
	<sql id="updateSql">
		update rental_price 
		set car_code=#{carCode.carCode}, basic_price=#{basicPrice}, basic_time=#{basicTime}, basic_time_price = #{basicTimePrice}, over_price =#{overPrice}, insurance=#{insurance}
	</sql>
	
	<sql id="deleteSql">
		delete from rental_price
	</sql>
	
	<select id="selectRentalPriceByCarCode" resultMap="RentalPriceResult">
		<include refid="selectSql"/>
		<include refid="whereSql"/>
	</select>
	
	<select id="selectRentalPriceByAll" resultMap="RentalPriceResult">
		<include refid="selectSql"/>
	</select>
	
	<insert id="insertRentalPrice" parameterType="RentalPrice">
		<include refid="insertSql"></include>
	</insert>
	
	<update id="updateRentalPrice" parameterType="RentalPrice">
		<include refid="updateSql"/>
		<include refid="whereSql"/>
	</update>
	
	<delete id="deleteRentalPrice" parameterType="RentalPrice">
		<include refid="deleteSql"/>
		<include refid="whereSql"/>
	</delete>
</mapper>