<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.dgit.RentCar_Project.dao.UserGradeDao">
	
	<resultMap id="UserGradeResult" type="UserGrade" >
		<id property="grade" column="grade"/>
		<result property="discount" column="discount"/>
	</resultMap>
	
	<sql id="selectSql">
		select grade, discount from user_grade
	</sql>
	<sql id="whereSql">
		<where>
			<if test ="grade != null">
				grade = #{grade}
			</if>
		</where>
	</sql>
	
	<sql id="insertSql">
		insert into user_grade values(#{grade}, #{discount})
	</sql>
	
	<sql id="updateSql">
		update user_grade set grade = #{grade}, discount = #{discount}
	</sql>
	
	<sql id="deleteSql">
		delete from user_grade
	</sql>
	
	<select id="selectUserGradeByGrade" resultMap="UserGradeResult">
		<include refid="selectSql"/>
		<include refid="whereSql"/>
	</select>
	
	<select id="selectUserGradeByAll" resultMap="UserGradeResult">
		<include refid="selectSql"/>
	</select>
	
	<insert id="insertUserGrade" parameterType="UserGrade">
		<include refid="insertSql"/>
	</insert>
	
	<update id="updateUserGrade">
		<include refid="updateSql"/>
		<include refid="whereSql"/>
	</update>
	
	<delete id="deleteUserGrade">
		<include refid="deleteSql"/>
		<include refid="whereSql"/>
	</delete>
</mapper>