<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.dgit.RentCar_Project.dao.UserDao">
	
	<resultMap id="UserResult" type="User">
		<id property="userCode" column="user_code"/>
		<result property="id" column="id"/>
		<result property="pw" column="pw"/>
		<result property="userName" column="user_name"/>
		<result property="userImg" column="user_image"/>
		<result property="phone" column="phone"/>
		<result property="email" column="email"/>
		<result property="grade.grade" column="grade"/>		
	</resultMap>

	<sql id="selectSql">
		select user_code, id, pw, user_name, user_image, phone, email, gender, grade from user
	</sql>
	
	<sql id="whereSql">
		<where>
			<if test ="userCode !=null">
				user_code = #{userCode}
			</if>
		</where>
	</sql>
	
	<sql id="insertSql">
		insert into user(id, pw, user_name, user_image, phone, email, gender, grade) 
		values(#{id}, #{pw}, #{userName}, #{userImg}, #{phone}, #{email}, #{gender}, #{grade.grade})
	</sql>
	
	<sql id="updateSql">
		update user set id = #{id}, pw = #{pw}, user_name = #{userName}, user_image = #{userImg}, 
		phone = #{phone}, email = #{email}, gender = #{gender}, grade = #{grade.grade}
	</sql>
	
	<sql id="deleteSql">
		delete from user
	</sql>
	
	<select id="selectUserByUserCode" parameterType="User" resultMap="UserResult">
		<include refid="selectSql"/>
		<include refid="whereSql"/>
	</select>
	
	<select id="selectUserByAll" resultMap="UserResult">
		<include refid="selectSql"/>
	</select>
	
	<insert id="insertUser" parameterType="User">
		<include refid="insertSql"/>
	</insert>
	
	<update id="updateUser" parameterType="User">
		<include refid="updateSql"/>
		<include refid="whereSql"/>
	</update>
	
	<delete id="deleteUser" parameterType="User">
		<include refid="deleteSql"/>
		<include refid="whereSql"/>
	</delete>
</mapper>